In [2]:
import pandas as pd

In [3]:
ds = pd.read_csv("megaGymDataset.csv")

In [30]:
ds.loc[(ds['BodyPart'] == 'Lower Back') & (ds['Equipment'] == 'Body Only') & (ds['Desc'].notnull()) & (ds['Rating'] >= 8)]

,Unnamed: 0,Title,Desc,Type,BodyPart,Equipment,Level,Rating,RatingDesc
1593,1593,Back extension,The back extension is an exercise used to buil...,Strength,Lower Back,Body Only,Intermediate,9.1,Average
1595,1595,Superman,The Superman is a bodyweight exercise that con...,Stretching,Lower Back,Body Only,Intermediate,8.3,Average

In [ ]:
ds.loc[(ds['BodyPart'] == 'Lower Back') & (ds['Equipment'] == 'Body Only') & (ds['Desc'].notnull()) & (ds['Rating'] >= 8)]

In [32]:
ds[ds['Equipment'] == 'Barbell']

,Unnamed: 0,Title,Desc,Type,BodyPart,Equipment,Level,Rating,RatingDesc
8,8,Barbell roll-out,The barbell roll-out is an abdominal exercise ...,Strength,Abdominals,Barbell,Intermediate,8.9,Average
9,9,Barbell Ab Rollout - On Knees,The barbell roll-out is an abdominal exercise ...,Strength,Abdominals,Barbell,Intermediate,8.9,Average
10,10,Decline bar press sit-up,The decline bar press sit-up is a weighted cor...,Strength,Abdominals,Barbell,Intermediate,8.5,Average
11,11,Bench barbell roll-out,The bench barbell roll-out is a challenging ex...,Strength,Abdominals,Barbell,Beginner,8.3,Average
12,12,Barbell Side Bend,NaN,Strength,Abdominals,Barbell,Beginner,7.0,Average
...,...,...,...,...,...,...,...,...,...
2785,2785,Reverse Band Bench Press,NaN,Powerlifting,Triceps,Barbell,Beginner,0.0,Average
2786,2786,Decline Barbell Triceps Extension - Gethin Var...,The decline EZ-bar skullcrusher is an upper bo...,Strength,Triceps,Barbell,Intermediate,NaN,NaN
2787,2787,AM Skullcrusher,The EZ-bar skullcrusher is a popular exercise ...,Strength,Triceps,Barbell,Intermediate,NaN,NaN
2788,2788,30 Arms Close-Grip Bench Press,NaN,Strength,Triceps,Barbell,Intermediate,NaN,NaN
2789,2789,30 Arms Barbell Skullcrusher,NaN,Strength,Triceps,Barbell,Intermediate,NaN,NaN

In [17]:

# import module
import pandas as pd
 
# assign data
dataFrame = pd.DataFrame({'Name': [' RACHEL  ', ' MONICA  ', ' PHOEBE  ',
                                   '  ROSS    ', 'CHANDLER', ' JOEY    '],
                           
                          'Age': [30, 35, 37, 33, 34, 30],
                           
                          'Salary': [100000, 93000, 88000, 120000, 94000, 95000],
                           
                          'JOB': ['DESIGNER', 'CHEF', 'MASUS', 'PALENTOLOGY',
                                  'IT', 'ARTIST']})
# filter dataframe
dataFrame[(dataFrame['Salary']>=100000) & (dataFrame['Age']< 40) & (dataFrame['JOB'].str.startswith('D'))]

        Name  Age  Salary       JOB
0   RACHEL     30  100000  DESIGNER